STEAM_API_KEY=your_steam_api_key_here
APP_URL=http://localhost:3000

# optional if you want to persist provings in db
DATABASE_URL=

# optional if you run scripts/test-verification.js locally
WEBHOOK_URL=
